@font-face {
  font-family: "Gotham-Bold";
  src: url("Gotham-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham-Black";
  src: url("Gotham-Black.ttf") format("truetype");
}

body {
  background-color: #990000;
  font-family: "Gotham-Bold.ttf", sans-serif;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #212121;
    top: 0;
    left: 0;
    padding-top: 80px;
    display: none;
    text-align: center;
  }
  .nav-links li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .nav-links a {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    padding: 20px;
  }
  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }
  .menu-btn__burger {
    width: 20px;
    height: 2px;
    background-color: #FFD900;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #FFD900;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-7px);
  }
  .menu-btn__burger::after {
    transform: translateY(7px);
  }
  .menu-btn.open .menu-btn__burger {
    transform: rotate(45deg);
    background-color: transparent;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .nav-links.show {
    display: flex;
    flex-direction: column;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: maroon;
  font-family: "Gotham-Bold", sans-serif;
  height: 60px;
  padding: 10px;
}

.logo {
  height: 40px;
  width: 10%;
  background-color: clear;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #FFD900;
  text-decoration: none;
}

nav ul li a:hover {
  color: salmon;
}

nav ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  padding: 0;
  margin: 0;
  background-color: maroon;
}

nav ul li ul li {
  width: 100%;
}

nav ul li ul li a {
  padding: 10px;
  color: #FFD900;
}

nav ul li:hover > a {
  background-color: maroon;
}

nav ul li:hover > a + ul {
  display: block;
}

nav ul li ul li:hover > a {
  background-color: maroon;
}

@media only screen and (max-width: 768px) {
  
  nav {
    flex-wrap: wrap;
  }

  .logo {
    margin-right: auto;
  }

  nav ul {
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  nav ul li {
    display: block;
    margin: 0;
    position: relative;
  }

  nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #FFD900;
  }

  nav ul li:hover > a {
    background-color: maroon;
  }

  nav ul li ul {
    background-color: maroon;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  nav ul li ul li {
    width: 100%;
  }

  nav ul li ul li a {
    color: #FFD900;
    padding: 10px;
  }

  nav ul li ul li:hover > a {
    background-color: maroon;
  }
  
  
  section {
    padding: 25px;
  }
}
