@media only screen and (max-width : 600px ){
  /* Navbar */
  
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  nav ul li {
    display: block;
    margin: 0;
  }

  nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  }

  nav ul li ul {
    position: static;
    display: none;
    margin: 0;
  }


  nav .logo {
    margin-right: auto;
  }

  /* Sections */
  section {
    padding: 25px;
  }
}
